.DS_Store
/documentation
/cpp/*.o
/bin/*
/obj/*
.vscode/*
/bu/*
examples/align.paf
examples/reads.fq
examples/contigs.fa
output/*
.Rcpp_dir/*
Rplots.pdf
/alntools.dSYM
alntools
/output2
alntools.zip
gpu_comparison_bins.tsv
cpu_comparison_bins.tsv
cpu_test_bins.tsv
gpu_test_bins.tsv
large_test_intervals.txt
test_example.aln
test_intervals.txt
test_single_thread_bins.tsv
test_original_gpu_bins.tsv
test_original_cpu_bins.tsv
test_no_filter_bins.tsv
test_fixed_bins.tsv
debug_cpu_bins.tsv
scripts/compare_cpu_gpu_bins.sh
cpp/QueryBin_old.h
cpp/Rearrange_bu.h
cpp/Rearrange_bu.cpp
cpp/RearrangeErrors_bu.h
cpp/RearrangeErrors_bu.cpp
cpp/RearrangeManager_bu.cpp
cpp/RearrangeManager_bu.h
cpp/VerifyRearrange_bu.cpp
cpp/VerifyRearrange_bu.h
